@media screen and (max-width: 768px) {
    .card {
        background-color: aliceblue;
        border-radius: 30px;
        height: 600px;
        width: 600px;
        margin: 0 auto;
    }
    
    .thumbnails-photo {
        display: none
    }
    
    .thumbnails-photo-md {
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .thumbnails-photo-md-element {
        flex-basis: 30px;
        border: 2px solid gray;
        display: flex;
        justify-content: space-around;
    }

    .focus-md {
        border: 2px solid lightgray;
    }
}